[workspace]
members = ["terraps", "common", "launcher", "xtask"]
resolver = "2"

[workspace.package]
version = "0.6.2"

[workspace.dependencies]
anyhow = "1"
chrono = "0.4"
constcat = "0.5"
axum = "0.7"
base64 = "0.22"
zip = "2"
uuid = { version = "1", features = ["v4", "fast-rng", "macro-diagnostics"] }
rand = { version = "0.8", features = ["std_rng"] }

# Crypto
aes = "0.8"
cbc = { version = "0.1", features = ["std"] }
libaes = "0.7"
ring = "0.17"
md-5 = "0.10"

# HTTP
reqwest = { version = "0.12", features = ["json"] }

# Tokio
h2 = "0.4"
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["io"] }

# Data Serialization
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["preserve_order"] }

# Tracings
tracing = "0.1"
tracing-futures = "0.2"
tracing-log = { version = "0.2", features = ["log-tracer", "std"] }
tracing-subscriber = { version = "0.3", features = [
    "std",
    "tracing",
    "tracing-log",
] }

# Tower
tower-http = { version = "0.5", features = ["trace"] }

# Frida
frida = { version = "0.13", features = ["auto-download"] }

[profile.dev]
strip = false
lto = false
opt-level = 0
codegen-units = 16

[profile.release]
strip = true      # Automatically strip symbols from the binary.
lto = true        # Link-time optimization.
opt-level = 3     # Optimize for speed.
codegen-units = 1 # Maximum size reduction optimizations.
debug = false     # Disable debug information.
rpath = true      # Disable runtime path.
